body {
    display: flex;
    justify-content: center;
    background-color: orange;
    margin-top: 150px;
}

.calculator-border {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background-color: cornflowerblue;
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.display {
    background-color: beige;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    height: 20%;
}

.input-display {
    font-size: 60px;
    padding: 8px;
}

/* .output-display {
    text-align: right;
} */

.button-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 90%;
    height: 50%;
    gap: 2px;
}

button {
    background-color: beige;
    border: 2px solid black;
    border-radius: 10px;
}